.nav-inputs {
  background-color: bisque;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 10% 25% 15% 15% 25% 10%;
  justify-self: center;
  margin-top: 10px;
  padding: 30px;
  width: 98%;
}

.label__nav {
  font-size: 16px;
  font-weight: 600;
}

.placeholder__inputs {
  background-color: #1c1f23;
  color: white;
}
