.table {
  background-color: #2e4558;
  border: solid 1px black;
  margin-top: 20px;
}

.thead {
  background-color: #8ed8fc;
  color: #2e4558;
  text-align: center;
}

.thead tr > th {
  border: 1px solid black;
}

.tbody tr > td {
  border: 1px solid black;
  text-align: center;
}

.tbody tr {
  color: rgb(223, 223, 223);
}
